.vscode/settings.json
googletest
build/*
CMakeFiles/*
ALL_BUILD.vcxproj
ALL_BUILD.vcxproj.filters
INSTALL.vcxproj
INSTALL.vcxproj.filters
project1.sln
RUN_TESTS.vcxproj
RUN_TESTS.vcxproj.filters
runUnitTests.vcxproj
runUnitTests.vcxproj.filters
ZERO_CHECK.vcxproj
ZERO_CHECK.vcxproj.filters
CTestTestfile.cmake
CMakeCache.txt
Testing/Temporary/CTestCostData.txt
Testing/Temporary/LastTest.log
Testing/Temporary/LastTestsFailed.log
tests.cpp
a.exe
